body {
    --j1-chart-color: #4CAF50;
}

.j1-chart-container {
    position: relative;
    max-width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    scroll-margin: 10px;
}

.j1-chart-content {
    padding: 15px 20px;
}

.j1-chart-header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 7px;
    margin-bottom: 20px;  
}

.j1-chart-title {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    width: 100%;
}

.j1-chart-subtitle {
    font-size: 15px;
    margin: 0;
    width: 100%;
    font-style: italic;
}

.j1-chart-footer {
    font-size: 14px;
    margin: 15px 0 0 0;
    color: #555;
}

.j1-chart-footer a {
    color: #555;
    text-decoration: none;
}

.j1-chart-footer a:hover {
    text-decoration: underline;
}

.j1-chart-container .j1-embed-link-container {
    display: none;
}

.j1-chart-container:hover .j1-embed-link-container {
    display: inline;
}

.j1-embed-info-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.j1-embed-info-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    padding-top: 0;
    max-width: 100%;
    width: 400px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.j1-embed-info-modal-content p {
    margin: 0;
}

.j1-embed-info-modal-content p.j1-share-instruction {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 110%;
}

.j1-embed-info-modal-content p.j1-share-instruction svg {
    margin-right: 1px;
}

.j1-embed-info-modal-content a {
    color: #222;
    text-decoration: none;
}

.j1-embed-info-modal-content a:hover {
    text-decoration: underline;
}

.j1-embed-info-modal-content code {
    display: block;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 90%;
    word-break: break-all;
    user-select: all;
}

.j1-download-buttons-area button {
    margin-right: 5px;
    cursor: pointer;
}

.j1-embed-info-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #444;
}

.j1-embed-info-close:hover {
    color: black;
    transform: scale(1.2);
}

.j1-bar {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
}

.j1-bar-description {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.j1-bar-fill-container {
    flex: 1;
    height: 30px;
    position: relative;
    background-color: #f0f0f0;
    overflow: hidden;
}

.j1-bar-fill {
    height: 100%;
    background-color: var(--j1-chart-color);
    position: absolute;
    top: 0;
    left: 0;
}

.j1-bar-label {
    position: absolute;
    left: 5px;
    top: 5px;
    color: white;
    font-size: 16px;
    white-space: nowrap;
}

.j1-bar-fill-left {
    right: 0;
    left: auto;
    background-color: #ab2d24;
}

.j1-bar-label-left {
    left: auto;
    right: 5px;
}

.j1-bar-label.j1-outside {
    color: black;
    white-space: nowrap;
    margin-left: 5px;
}

.j1-circle-image {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border: 2px solid var(--j1-chart-color);
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
}

.j1-circle-image:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
    z-index: 1;
}

.j1-justice-pair, .j1-justice-triple {
    display: flex;
    align-items: center;
}

.j1-justice-pair img, .j1-justice-triple img {
    margin-right: -3px;
}

.j1-group-members-text {
    margin-left: 9px;
}
