.header {
  display: flex;
  align-items: center;
  min-height: 27px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(284deg, #f6d84f, #ca973f);
  color: #fff;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.sidetoc {
  flex: 0.7;
  width: 200px;
  padding-left: 20px; 
}

@media screen and (max-width: 900px) {
  .sidetoc {
    display: none;
  }
}

.sidetoc ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 10px;
}

.sidetoc ul li {
  font-size: .8rem;
  line-height: .82rem;
  margin: 0.3rem 0;
}

.sidetoc .sidetoc-item-section {
  margin-bottom: 0.75rem;
  line-height: 1rem;
}

.sidetoc .sidetoc-item-section > a {
  text-decoration: none;
  font-weight: 600;
  color: #5a5e9a;
  text-transform: uppercase;
}

.sidetoc .sidetoc-item-chart {
  border-left: 2px transparent solid;
  padding-left: 5px;
}

.sidetoc .sidetoc-item-chart a {
  text-decoration: none;
  color: #555;
}

.sidetoc .sidetoc-item-chart.active {
  border-left: 2px #5a5e9a solid;
}

.sidetoc .sidetoc-item-chart.active a {
  color: #5a5e9a;
} 

#close-menu-button {
  display: none;
}

@media (max-width: 640px) {
  .search-panel__filters {
    display: none;
  }

  .show-menu .search-panel__filters {
    display: block;
    font-size: 115%;
  }

  .show-menu .search-panel__results {
    display: none;
  }

  #hamburger-button {
    display: inline-block;
    cursor: pointer;
  }

  #close-menu-button {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 55px;
    right: 10px;
  }
  
}

@media screen and (min-width: 640px) {
  #hamburger-button {
    display: none;
  }
}

.search-panel__results {
  flex: 3;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

.ais-DynamicWidgets-widget {
  max-width: 300px;
}

.ais-Panel {
  margin-bottom: 1.5rem;
}

.ais-Panel-header {
  margin-bottom: 0.65rem;
}

.ais-RefinementList-item {
  line-height: 1.7rem;
}

.ais-HierarchicalMenu-link--selected {
  font-weight: bold;
}

.ais-HierarchicalMenu-link {
  /* align-items: start; */
}

.ais-HierarchicalMenu-link::before {
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
  min-width: 1rem;
}

.ais-HierarchicalMenu-link--selected::before {
  transform: rotate(180deg);
}

.ais-HierarchicalMenu-label, .ais-Menu-label, .ais-RefinementList-labelText {
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  white-space: wrap;
}

.ais-HierarchicalMenu-showMore, .ais-Menu-showMore, .ais-RefinementList-showMore {
  margin-top: 0.5rem;
}

.ais-CurrentRefinements {
  margin-bottom: 0.5rem;
}

.ais-CurrentRefinements-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.ais-CurrentRefinements-item {
  background: transparent;
  border: none;
  padding: 0;
  padding-right: 0.3rem;
}

.ais-CurrentRefinements-category {
  margin-left: 0.4rem;
  background-color: hsl(240, 33%, 93%);
  padding: 0 0.3rem;
  border-radius: 0.4rem;
}

.ais-CurrentRefinements-categoryLabel{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

.ais-CurrentRefinements-delete {
  line-height: 1.5;
}

.ais-CurrentRefinements-delete:hover {
  color: hsl(240, 53%, 50%);
}

.ais-Hits-item {
  padding: 0.2rem 0.8rem;
  line-height: 1.2;
}

.hitlist-item details summary {
  cursor: pointer;
}

.hitlist-item .hitlist-docket-number {
  min-width: 70px;
  display: inline-block;
}

#searchbox {
  margin-bottom: 2rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}

svg text {
  cursor: text;
}